<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter password</title>
</head>
<body>
    <h1 style="text-align: center;">Enter password</h1>
    <form method="post" style="display: flex; flex-direction: column; justify-content: center; align-items: center;" action="/password">
        <input type="password" name="pass">
        <button type="submit">Login</button>
    </form>
</body>
</html>